#mainSectionBody {
    background-color: #212529;
}

#header {
    margin-top: 3%;
}

#showMoreBtn{
    background-color: black;
    color:white;
    border:1px solid rgb(141, 120, 0);
}

#productCard {
	background-color: #282d31;
    border: 1px solid rgb(141, 120, 0);
    color:white;
}

#productCard:hover {
	background-color: #212529;
    border: 2px solid rgb(141, 120, 0);
    padding:2%;
    color:white;
    transition: .4s;
    
    #showMoreBtn{
    	background-color: black;
    	color:white;
    	border:1px solid rgb(141, 120, 0);
    }
    
    #showMoreBtn:hover{
    	background-color: rgb(141, 120, 0);
    	color: black;
    	border:1px solid black;
    	transition:.4s;
    }
}