#pwDiv {
	margin-bottom: 10px;
}

#registerLinkText {
	color:white;
}

#registerLink {
	color:white;
	text-decoration: underline;
}

@media (max-width: 1000px) {
	#username {
		width: 300px;
	}
	
	#password {
		width: 300px;
	}
}
