@media (max-width: 768px){
	#editProductLink {
		margin-right: 5%;
		margin-top: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	#deleteProductBtn {
		margin-top: 20px;
	}
	
	#reviewContainer {
		display: flex;
		align-items: row;
		justify-content: center;
		gap: 5%;
		flex-wrap: wrap;
	}
	
	.review-cards {
		margin-top: 20px;
		background-color: white;
		width: 100%;
		margin-left: 20px;
		margin-right: 20px;
		height: auto;
		border-radius: 15px;
		background-color: #212529;
		border: 1px solid rgb(141, 120, 0);
	}
}

@media (min-width: 768px) {
	#reviewContainer {
		display: flex;
		align-items: row;
		justify-content: center;
		gap: 2%;
		margin-left: 10%;
		margin-right: 10%;
	}
	
	.review-cards {
		margin-top: 20px;
		background-color: white;
		width: 800px;
		height: auto;
		border-radius: 15px;
		background-color: #212529;
		border: 1px solid rgb(141, 120, 0);
	}
	
}

#productName {
    color: white;
}

.productPrice {
    color: white;
}

#productDescription {
    color: white;
}

#addToCartBtn{
    color: black;
    background-color: rgb(207, 176, 0);
   	border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
   	border: 1px solid black;
}

#addToCartBtn:hover{
    color: white;
    background-color: black;
    transition: .8s;
    border-radius: 10px;
    border: 1px solid rgb(207, 176, 0);
}

#relatedProductsTitle{
    color:white
}

#showMoreBtn1{
    background-color: black;
    color:white;
    border:1px solid rgb(141, 120, 0);
}


#relatedProductCard {
	background-color: #282d31;
	border: 1px solid rgb(141, 120, 0);
    color:white;
}

#relatedProductCard:hover {
	background-color: #212529;
    border: 2px solid rgb(141, 120, 0);
    padding:2%;
    color:white;
    transition: .4s;
    
    #showMoreBtn1{
    	background-color: black;
    	color:white;
    	border:1px solid rgb(141, 120, 0);
    }
    
    #showMoreBtn1:hover{
    	background-color: rgb(141, 120, 0);
    	color: black;
    	border:1px solid black;
    	transition: .4s;
    }
}

#inputQuantity {
	padding-left: 5px;
	padding-right: 5px;
}

#successAlert {
	position: fixed;
	width: 100%;
	z-index: 1000;
	animation: fadeOut 1s ease-in 1s forwards;
	text-align: center;
	top: 40;
}

@keyframes fadeOut {
	to {
		opacity: 0;
		z-index: -50;
	}
}

#editProductDiv {
	margin-top: 50px;
	display:flex;
	justify-content: end;
}

#editProductLink {
	margin-right: 5%;
}

#editProductBtn {
	background-color: rgb(207, 176, 0);
	border: 1px solid black;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

#editProductBtn:hover {
	background-color: black;
	border: 1px solid rgb(141, 120, 0);
	color: white;
	transition: .8s;
}

#deleteProductLink {
	bottom : 0;
}

#deleteProductBtn {
	border: 1px solid black;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}

#deleteProductBtn:hover {
	background-color: black;
	border: 1px solid red;
	color: white;
	transition: .8s;
}

#reviewTitle {
	color: white;
	text-align: center;
}

#reviewerInfo {
	display: flex;
	justify-content: row;
	margin-top: 20px;
}

#reviewerPfp {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	margin-left: 20px;
	margin-right: 10px;
}

#reviewerInfoChild {
	color: white;
}

#reviewComment {
	margin-top: 10px;
	width: 90%;
	height: auto;
	color: white;
	margin-left: 3%;
	margin-bottom: 7%;
}

#showReviewsContainer {
	display: flex;
	justify-content: center;
}

#showAllLink {
	color: black;
	background-color: rgb(207, 176, 0);
	padding: 10px 20px 10px 20px;
	border-radius: 40px;
	text-decoration: none;
	font-weight: 500;
	margin-top: 10px;
	border: 1px solid rgb(207, 176, 0);
}

#showAllLink:hover {
	color: rgb(207, 176, 0);
	background-color: black;
	border: 1px solid rgb(207, 176, 0);
	transition: .3s;
}
