#showMoreBtn{
    background-color: black;
    color:white;
    border:1px solid rgb(141, 120, 0);
}

#productCard {
	background-color: #282d31;
    border: 1px solid rgb(141, 120, 0);
    color:white;
}

#productCard:hover {
	background-color: #212529;
    border: 2px solid rgb(141, 120, 0);
    padding:2%;
    color:white;
    transition: .4s;
    
    #showMoreBtn{
    	background-color: black;
    	color:white;
    	border:1px solid rgb(141, 120, 0);
    }
    
    #showMoreBtn:hover{
    	background-color: rgb(141, 120, 0);
    	color: black;
    	border:1px solid black;
    	transition:.4s;
    }
}

#manageHeader {
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
}

#addProductBtn {
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(207, 176, 0);;
}

#addProductBtn:hover {
	background-color: black;
	color: white;
	border: 1px solid rgb(207, 176, 0);
	transition: .8s;
}

#successCreateAlert {
	top: 40;
	position: fixed;
	width: 100%;
	z-index: 1000;
	animation: fadeOut 1s ease-in 1s forwards;
	text-align: center
}

#successDeleteAlert {
	top: 40;
	position: fixed;
	width: 100%;
	z-index: 1000;
	animation: fadeOut 1s ease-in 1s forwards;
	text-align: center
}

#successEditAlert {
	top: 40;
	position: fixed;
	width: 100%;
	z-index: 1000;
	animation: fadeOut 1s ease-in 1s forwards;
	text-align: center
}

@keyframes fadeOut {
	to {
		opacity: 0;
		z-index: -50;
	}
}

#paginationNav {
	display: flex;
	justify-content: center;
}


.page-link {
	background-color: black;
	color: white;
	border: .5px solid rgb(141, 120, 0);
}

.page-link:hover {
	background-color: rgb(141, 120, 0);
	color: black;
	border: .5px solid black;
}

#activePagi {
	color: black;
	background-color: rgb(141,120,0);
}

.disabledPagi:disabled {
	background-color: gray;
	color: black;
}
