<html lang="en" xmlns:th="http://thymeleaforg"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Your Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<link rel="stylesheet" href="/css/navBar-stylesheet.css">
<link rel="stylesheet" href="/css/edit-product.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" id="navBar"
		data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}" id="navBarPic">WebShop</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center"
				id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navBarList">
					<li class="nav-item pe-3 ps-3"><a class="nav-link active"
						aria-current="page" th:href="@{/}" id="mainPageNavBtn">Home</a></li>
					<li class="nav-item pe-3 ps-3"><a class="nav-link active"
						th:href="@{/products}" id="mainPageProductBtn">Products</a></li>
					<li class="nav-item pe-3 ps-3"><a class="nav-link active" th:href="@{/about}" id="mainPageAboutBtn">About us</a></li>
					<li class="nav-item pe-3 ps-3 d-lg-none" sec:authorize="!isAuthenticated()"><a class="nav-link active" th:href="@{/login}" id="signInNavBtn1">Sign in</a></li>
					<li class="nav-item pe-3 ps-3 d-lg-none" sec:authorize="isAuthenticated()"><a class="nav-link active" th:href="@{/logout}" id="signOutNavBtn1">Sign out</a></li>
					<li class="nav-item pe-3 ps-3 d-lg-none">
						<a class="nav-link active" th:href="@{/cart}" id="mainPageAboutBtn"><i class="bi bi-cart" id="cartMobile"></i> <span th:text="${cart != null and cart.itemCount != null ? cart.itemCount : '0'}"> 0</span></a>               	
					</li>
				</ul>         
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-none d-lg-flex">
					<li class="nav-item pe-3 ps-3" sec:authorize="!isAuthenticated()"><a class="nav-link active" th:href="@{/login}" id="signInNavBtn">Sign in</a></li>
					<li class="nav-item pe-3 ps-3" sec:authorize="isAuthenticated()"><a class="nav-link active" th:href="@{/logout}" id="signOutNavBtn">Sign out</a></li>
					<li class="nav-item mt-1"><a class="navbar-brand" th:href="@{/cart}"><i class="bi bi-cart" id="cartPc"></i> <span th:text="${cart != null and cart.itemCount != null ? cart.itemCount : '0'}"> 0</span></a></li>
                </ul>
			</div>
		</div>
	</nav>
	<div th:if="${param.failure}" class="alert alert-danger" id="failureCreateAlert">Failed to create product, please check if all fields are filled in correctly!</div>
	<h2 id="editProduct">Edit product</h2>
	<form th:object="${product}" th:action="@{/products/{productId}/edit(productId=${product.id})}" method="POST">
		<div class="container1">
			<div class="column">
				<label for="name">Product Name:</label>
				<input type="text" id="name" name="name" th:field="*{name}"> 
				<label for="description">Description:</label>
				<textarea id="description" name="description" th:field="*{description}"></textarea>
			</div>
			<div class="column">
				<label for="price">Price:</label> 
				<input type="text" id="price" name="price" th:field="*{price}">
				<label for="photoUrl">Photo URL:</label> 
				<input type="text" id="photoUrl" name="photoUrl" th:field="*{photoUrl}">
				<label for="stockQuantity">Stock Quantity:</label> 
				<input type="text" id="stockQuantity" name="stockQuantity" th:field="*{stockQuantity}"> 
				<label for="category">Category:</label> 
				<input type="text" id="category" name="category" th:field="*{category}">
			</div>
		</div>
		<div id="addBtnDiv">
			<button class="btn btn-mt-auto" id="editBtn" type="submit">Edit Product</button>
		</div>
	</form>
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your
				Website 2023</p>
		</div>
	</footer>
</body>
</html>